
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">RESUMEN</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class=" fas fa-users me-1"> </i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal()">Crear Nuevo</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para abrir otro formulario al presionar 'Crear Usuario' -->
<div class="modal fade" id="FormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body g-2">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtNombres" placeholder="José Ricardo">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos" placeholder="Maldonado">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="txtCorreElectronico" placeholder="nombre@ejemplo.com">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Activo</label>
                        <select id ="cbActivo" class="form-select">
                            <option selected>Seleccione una opción</option>
                            <option value="1">Si</option>
                            <option value="0">No</option> 
                        </select>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var tablaData; 

        tablaData = $("#tabla").DataTable({

            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios","Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                {"data":"Nombres"},//-->Data es el de HomeController
                { "data": "Apellidos"},
                { "data": "Correo"},
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>';
                        }
                        else
                            return '<span class="badge bg-danger">No</span>';
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class=" fas fa-pen me-1"> </i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-3"><i class=" fas fa-trash me-1"> </i></button>',
                    "orderable": false,
                    "searchtable": false,
                    "width": "70px"
                }
            ],//-->Cambiar idioma d datatable a español:
            "language": {
                "url":"https://cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json"
            }

        });//-->llamo a la tabla id hago referencia

        //Metodo para abrir formulario nuevo
        function abrirModal(){
            $("#FormModal").modal("show");//--> #FormModal referencio al modal
        };

        $("#tabla tbody").on("click", '.btn-editar', function () {//-->Cuerpo de funcion que al presionar el btn de editar ahce algo

            var filaSeleccionada = $(this).closest("tr");//-->Fila seleccionada

            tablaData.row(filaSeleccionada).data();//-->Selecciono los datos d la fila elegida en la dataTable

            alert("hola");
        });
    </script>

}

