@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Panel</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Administración</li>
    </ol>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <h6>Cantidad de Clientes</h6>
                            <h6 id="totalClientes">0</h6>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <h6>Cantidad de Ventas</h6>
                            <h6 id="totalVentas">0</h6>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-shopping-bag fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <h6>Cantidad de Productos</h6>
                            <h6 id="totalProductos">0</h6>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-boxes fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de Ventas realizadas
    </div>
    <form action="@Url.Action("ExportarVentas","Home")" method="post">
        <div class="card-body">
            <div class="row align-items-end">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha de Inicio:</label>
                        <input class="form-control" type="text" id="txtFechaInicio" name="fechaInicio" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha Fin:</label>
                        <input class="form-control" type="text" id="txtFechaFin" name="fechaFin" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">ID de Transacción:</label>
                        <input class="form-control" type="text" id="txtIDTransaccion" name="idTransaccion" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-primary" id="btnBuscar" type="button">
                            <i class="fas fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-file-excel"></i>
                            Exportar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form> 

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table id="tabla" class="display cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>Fecha Venta</th>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>ID Transacción</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    
    <script>

        //--> Para que la pagina cargue con todos sus elementos y ejecute lo que sigue una vez finalizado.
        $(document).ready(function () {

            //--> Logica para mostrar las fechas de ventas <---
            $("#txtFechaInicio").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date);//-->Ni bien comienza que muestre la fecha actual
            $("#txtFechaFin").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date);

            //--> Logica para obtener los VALORES de la cant. Clientes, Productos y Ventas <---
            jQuery.ajax({
                url: '@Url.Action("VisualizarPanelControl", "Home")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8", // Corrección en el charset
                success: function (data) {
                    var objeto = data.resultado;//--> Recibo el Objeto PanelControl
                    $("#totalProductos").text(objeto.TotalProductos);//-->De lo q recibo que pinte en las cartas
                    $("#totalVentas").text(objeto.TotalVentas);
                    $("#totalClientes").text(objeto.TotalClientes);
                },
                error: function (error) {
                    console.log(error); // Muestra el error en la consola para depuración
                }
            });

            //--> Logica para poder mostrar los reportes
            var Url = '@Url.Action("ListarReportes", "Home")' +
                "?fechaInicio=" + $("#txtFechaInicio").val() +
                "&fechaFin=" + $("#txtFechaFin").val() +
                "&IDTransaccion=" + $("#txtIDTransaccion").val();

            tablaData = $("#tabla").DataTable({

                responsive: true,
                ordering: false,
                "ajax": {
                    url: Url,
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    {"data":"FechaVenta"},//-->Data es el de HomeController
                    { "data": "Cliente"},
                    { "data": "Producto" },
                    { "data": "Precio" },
                    { "data": "Cantidad" },
                    { "data": "Total" },
                    { "data": "IDTransaccion" }
                ],//-->Cambiar idioma d datatable a español:
                "language": {
                    "url":"https://cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json"
                }

            });//-->llamo a la tabla id hago referencia
        })

        //--> Logica para que al presionar el boton buscar me encuentre
       // las ventas realizadas con las fechas indicadas y el id.
        $("#btnBuscar").on("click", function () {
            var nuevaUrl = '@Url.Action("ListarReportes", "Home")' +
                "?fechaInicio=" + $("#txtFechaInicio").val() +
                "&fechaFin=" + $("#txtFechaFin").val() +
                "&IDTransaccion=" + $("#txtIDTransaccion").val();

            tablaData.ajax.url(nuevaUrl).load();//--> Que actualice con los nuevos datos
        });

    </script>     
}